* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffc4d6;
}

nav {
    background-color: #ff5d8f;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fadde1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ffa6c1;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;


}